@font-face {
  font-family: "Helvetica Neue";
  font-weight: 400;
  src: url("../fonts/HelveticaNeue.otf") format("opentype");
}

@font-face {
  font-family: "Muller";
  font-weight: 400;
  src: url("../fonts/Muller.otf") format("opentype");
}

@font-face {
  font-family: "Muller";
  font-weight: 900;
  src: url("../fonts/MullerBlack.otf") format("opentype");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 400;
  src: url("../fonts/SegoeUI.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 700;
  src: url("../fonts/SegoeUIBold.woff") format("woff");
}

body {
  font-family: "Helvetica Neue";
  font-weight: 400;
}

.header-background {
  background-image: url("../img/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 540px;
  position: relative;
}

.background-filter {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-top {
  padding-top: 13px;
  justify-content: space-between;
  align-items: center;
}

.header-logo-wrapper,
.footer-logo-wrapper {
  a {
    img {
      width: 100%;
    }
  }
}

.header-navigation-wrapper,
.footer-navigation-wrapper {
  nav {
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding-right: 20px;

        a {
          color: #ffffff;
          font-size: 14px;
        }
      }
    }
  }
}

.header-address-wrapper,
.footer-address-wrapper {
  address {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    span {
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
    }

    p {
      color: #ffffff;
      margin: 0;
      font-size: 12px;
    }
  }
}

.header-contacts-wrapper,
.footer-contacts-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
  }

  span {
    color: #ffffff;

    a {
      font-size: 12px;
      font-weight: 400;
    }
  }
}

.header-bottom {
  padding-top: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    color: #ffffff;
    font-family: "Muller";
    font-size: 34px;
    font-weight: 900;
    margin: 0;
  }

  p {
    color: #ffda44;
    font-family: "Segoe UI";
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 90px;
    margin: 0;
  }

  a {
    color: #000000;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    background-color: #ffda44;
    padding: 13px 60px;
  }
}

.finishing-and-insulation {
  padding: 50px 0 95px 0;

  h2 {
    color: #000000;
    font-family: "Muller";
    font-size: 34px;
    font-weight: 900;
    margin: 0;
    padding-bottom: 50px;
  }
}

.interior-decoration-wrapper,
.exterior-finish-wrapper {
  display: flex;
}

.interior-decoration-text-wrapper,
.exterior-finish-text-wrapper {
  padding: 17px 0 17px 29px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    margin: 0;
    color: #000000;
    font-family: "Muller";
    font-size: 24px;
    font-weight: 900;
  }

  p {
    margin: 0;
    color: #000000;
    font-family: "Segoe UI";
    font-size: 14px;
    font-weight: 400;
  }
}

.interior-decoration-order,
.exterior-finish-order {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    color: #000000;
    font-family: "Segoe UI";
    font-size: 24px;
    font-weight: 700;
  }

  a {
    color: #000000;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    background-color: #ffda44;
    padding: 8px 60px;
  }
}

.advantages-background {
  background-image: url("../img/advantages-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 543px;
  position: relative;
}

.advantages-wrapper {
  padding: 50px 0 60px 0;
  display: flex;
  flex-direction: column;

  h2 {
    color: #ffffff;
    font-family: "Muller";
    font-size: 34px;
    font-weight: 900;
    padding-bottom: 50px;
    margin: 0;
  }

  a {
    color: #000000;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    background-color: #ffda44;
    padding: 16px 60px;
    align-self: center;
  }
}

.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;

  img {
    object-fit: contain;
    padding-bottom: 17px;
  }

  h3 {
    color: #ffda44;
    font-family: "Segoe UI";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 4px;
  }

  p {
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    margin: 0;
    width: 184px;
  }
}

.price-for-balconies {
  padding: 50px 0 52px 0;

  h2 {
    margin: 0;
    color: #000000;
    font-family: "Muller";
    font-size: 34px;
    font-weight: 900;
    padding-bottom: 70px;
  }
}

.price-for-balconies-item {
  margin-bottom: 68px;

  h3 {
    color: #000000;
    font-family: "Muller";
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 9px;
  }

  img {
    width: 100%;
    padding-bottom: 24px;
  }
}

.price-for-balconies-list-wrapper {
  display: flex;
  flex-direction: column;
}

.price-for-balconies-list-item {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 0 auto 11px auto;

  p {
    margin: 0;
    color: #000000;
    font-family: "Segoe UI";
    font-size: 17px;
    font-weight: 400;
  }

  a {
    color: #ffca51;
    font-family: "Segoe UI";
    font-size: 17px;
    font-weight: 400;
  }
}

.types-of-houses-background {
  background-image: url("../img/types-of-houses-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 599px;
  position: relative;
}

.types-of-houses {
  padding: 50px 0 55px 0;
  display: flex;
  flex-direction: column;

  h2 {
    color: #ffffff;
    font-family: "Muller";
    font-size: 34px;
    font-weight: 900;
    padding-bottom: 50px;
  }

  a {
    color: #000000;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    background-color: #ffda44;
    padding: 8px 60px;
    align-self: center;
  }
}

.types-of-houses-list {
  padding-bottom: 60px;
}

.types-of-jobs-border-bottom {
  border-bottom: 2px solid #eeeeee;
}

.types-of-jobs {
  padding: 50px 0 75px 0;

  h2 {
    color: #000000;
    font-family: "Muller";
    font-size: 34px;
    font-weight: 900;
    padding-bottom: 50px;
  }

  ol {
    list-style: none;
    padding: 0;

    li {
      counter-increment: i;
      display: flex;
      align-items: center;
      margin-bottom: 32px;

      &::before {
        content: counter(i);
        color: #000000;
        font-family: "Segoe UI";
        font-size: 14px;
        font-weight: 400;
        width: 32px;
        height: 32px;
        border: 2px solid #ffda44;
        border-radius: 50%;
        text-align: center;
        margin-right: 11px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.have-any-questions {
  padding: 75px 0 72px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: #000000;
    font-family: "Muller";
    font-size: 34px;
    font-weight: 900;
  }

  span {
    color: #000000;
    font-family: "Segoe UI";
    font-size: 24px;
    font-weight: 700;

    &:last-of-type {
      font-weight: 400;
    }
  }

  a {
    color: #000000;
    font-family: "Segoe UI";
    font-size: 24px;
    font-weight: 700;
  }
}

.have-any-questions-contacts {
  font-family: "Segoe UI";
  font-size: 24px;
  font-weight: 400;

  a {
    color: #003bff;
    font-family: "Segoe UI";
    font-size: 24px;
    font-weight: 400;
    text-decoration: underline;

    &:last-child {
      color: #19d900;
    }
  }
}

.map {
  position: relative;
  width: 100%;
  height: 458px;

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
}

.footer-background {
  background-color: #000000;
}

.footer-border-bottom {
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}

.footer-top {
  padding: 100px 0;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom {
  padding: 40px 0;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 73px;

  p {
    margin: 0;
    font-family: "Helvetica Neue";
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;

    a {
      color: #ffda44;
      font-family: "Helvetica Neue";
      font-size: 12px;
    }
  }
}

.design {
  a {
    img {
      margin-bottom: 5px;
    }
  }

  p {
    color: #9b9b9b;
    font-family: "Helvetica Neue";
    font-size: 12px;
    font-weight: 400;
  }
}

.header-inner {
  height: 80px;
}

.breadcrumbs {
  padding: 21px 0;
  border-bottom: 2px solid #eeeeee;

  ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      a {
        color: #000000;
        font-family: "Helvetica Neue";
        font-size: 14px;
        font-weight: 400;
      }

      .current {
        color: #ffda44;
      }
    }

    span {
      padding: 0 5px;
    }
  }
}

.our-work {
  padding: 50px 0 23px 0;

  h2 {
    padding-bottom: 43px;
    color: #000000;
    font-family: "Muller";
    font-size: 34px;
    font-weight: 900;
    margin: 0;
  }

  .call-the-measurer {
    color: #000000;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    background-color: #ffda44;
    padding: 16px 60px;
    display: inline-block;
  }
}

.our-work-item {
  margin-bottom: 29px;

  a {
    img {
      width: 100%;
    }
  }
}

.prices {
  h2 {
    padding-bottom: 50px;
  }

  table {
    margin-bottom: 44px;

    tr {
      &:nth-of-type(2n) {
        background: #ffffff;

        td {
          padding: 16px 20px;

          &:nth-of-type(1) {
            width: 780px;
          }

          &:nth-of-type(2) {
            width: 130px;
            text-align: center;
          }

          &:nth-of-type(3) {
            width: 195px;
            text-align: center;
          }

          &:nth-of-type(4) {
            width: 195px;
            text-align: center;
          }

          &:nth-of-type(1n + 2) {
            border-left: 1px solid #ffffff;
          }
        }
      }

      &:nth-of-type(2n + 1) {
        background: #e8e7e7;

        td {
          padding: 16px 20px;

          &:nth-of-type(1) {
            width: 780px;
          }

          &:nth-of-type(2) {
            width: 130px;
            text-align: center;
          }

          &:nth-of-type(3) {
            width: 195px;
            text-align: center;
          }

          &:nth-of-type(4) {
            width: 195px;
            text-align: center;
          }

          &:nth-of-type(1n + 2) {
            border-left: 1px solid #ffffff;
          }
        }
      }
      &:first-child {
        background: #ffda44;
        th {
          padding: 16px 20px;

          &:nth-of-type(1) {
            width: 780px;
          }

          &:nth-of-type(2) {
            width: 130px;
            text-align: center;
          }

          &:nth-of-type(3) {
            width: 195px;
            text-align: center;
          }

          &:nth-of-type(4) {
            width: 195px;
            text-align: center;
          }

          &:nth-of-type(1n + 2) {
            border-left: 1px solid #ffffff;
          }
        }
       }
    }
  }
}
